
<div class="well"> <b>{{model.business.companyName}}</b></div>

<table class="table table-condensed table-striped" style="background-color:;"> 
    <tbody> 
        <tr>
            <td><div>
                <label>Company Name</label></div>
            </td>
            <td><div>
                 	{{model.business.companyName}}
                </div>
            </td>
        </tr>
        <tr>
            <td><div>
                <label>Email Id</label></div>
            </td>
            <td><div>
                 	{{model.business.emailId}}
                </div>
            </td>
        </tr>
         <tr>
            <td><div>
                <label>Month of Incorporation</label></div>
            </td>
            <td><div>
                 	{{model.business.monthInCorp}}
                </div>
            </td>
        </tr>
         <tr>
            <td><div>
                <label>Year of Incorporation</label></div>
            </td>
            <td><div>
                 	{{model.business.yearInCorp}}
                </div>
            </td>
        </tr>
         <tr>
            <td><div>
                <label>Operated as</label></div>
            </td>
            <td><div>
                 	{{model.business.operateAs}}
                </div>
            </td>
        </tr>
      </tbody>
 </table>

 <div class="well"><font color="blue">Company Profile  </font>: {{model.business.companyProfile }}</div>