
<div class="well"> <b>{{model.business.companyName}}</b></div>

<table class="table table-condensed table-striped" style="background-color:;"> 
    <tbody> 
        <tr>
            <td><div>
                <label>Since how many months you have been selling on Flipkart</label></div>
            </td>
            <td><div>
                 	{{model.principals.sellingMonths}}
                </div>
            </td>
        </tr>
        <tr>
            <td><div>
                <label>Average monthly sales to flipkart</label></div>
            </td>
            <td><div>
                 	{{model.principals.avgMonthlySales}}
                </div>
            </td>
        </tr> 
        <tr>
            <td><div>
                <label>Average payment cycle with flipkart</label></div>
            </td>
            <td><div>
                 	{{model.principals.avgPaymentCycle}}
                </div>
            </td>
        </tr>  
      </tbody>
 </table>


 <div class="well">Customers/MarketPlaces
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="data  in model.customer">
        <font color="blue" size= "5">{{data.marketplace}}</font>
        <span ng-if="data.marketurl"><b>Marketurl</b> :  {{data.marketurl}}</span> ,  <span ng-if="data.sellingol"> <b>Number of selling online</b> :  {{data.sellingol}}</span> <span ng-if="data.avgsale"> <b> Average sale</b> : {{data.avgsale}} </span><span ng-if="data.avgpayment"> <b> Average Payment</b> : {{data.avgpayment}} </span>


      </li>     
    </ul>
 </div> 

 <div class="well">  Other Market Places : 
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="data  in model.otherMarketplaces">
        {{data}}
      </li>
    </ul>
 </div>
